*{
    background-color: #ABD7EB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 100px;
    margin-bottom: 50px;
}
h2{
    font-size: large;
}